<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Performance Predictor</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        body {
            background-image: url('https://img.freepik.com/free-vector/blurred-bokeh-pattern-wallpaper-soft-touch-your-walls_1017-43483.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            color: black;
            padding: 20px;
        }

        .container {
            background-color:aqua;
            padding: 20px;
            border-radius: 10px;
        }

        .mb-3 {
            margin-bottom: 15px;
        }

        label {
            font-weight: bold;
        }

        .dropdown-menu {
            max-height: 150px;
            overflow-y: auto;
        }
    </style>
</head>

<body>
    <h1>Student Performance Predictor</h1>
    <div class="container mt-4">
        <form method="POST" action="/predict">

            <div class="mb-3">
                <label for="inputAge" class="form-label">Age:</label>
                <input type="number" class="form-control" id="inputAge" name="user_age" required>
            </div>

            Address
            <div class="input-group">
                <select class="form-control" id="inputAddress" name="user_address" aria-label="Example select with button addon">
                  <option selected>Choose...</option>
                  <option value="1">Rural</option>
                  <option value="2">Urban</option>
                </select>
            </div>
            <br>
            <br>
            Mother's Job
            <div class="input-group">
                <select class="form-control" id="inputMjob" name="user_mjob" aria-label="Example select with button addon">
                  <option selected>Choose...</option>
                  <option value="1">Teacher</option>
                  <option value="2">At_home</option>
                  <option value="3">Health</option>
                  <option value="3">Other</option>
                </select>
            </div>

            <br>
            <br>

            Father's Job
            <div class="input-group">
                <select class="form-control" id="inputFjob" name="user_fjob" aria-label="Example select with button addon">
                  <option selected>Choose...</option>
                  <option value="1">Teacher</option>
                  <option value="2">At_home</option>
                  <option value="3">Health</option>
                  <option value="3">Other</option>
                </select>
            </div>

            <br>
            <br>

            Mother's Education
            <div class="input-group">
                <select class="form-control" id="inputMedu" name="user_medu" aria-label="Example select with button addon"  required>
                  <option selected>Choose...</option>
                  <option value="1">none</option>
                  <option value="2">primary education (4th grade)</option>
                  <option value="3">Health</option>
                  <option value="3">5th to 9th grade</option>
                  <option value="3">secondary education</option>
                  <option value="3">higher education</option>
                </select>
            </div>

            <br>
            <br>
            <br>

            Father's Education
            <div class="input-group">
                <select class="form-control" id="inputFedu" name="user_fedu" aria-label="Example select with button addon"  required>
                  <option selected>Choose...</option>
                  <option value="1">none</option>
                  <option value="2">primary education (4th grade)</option>
                  <option value="3">Health</option>
                  <option value="3">5th to 9th grade</option>
                  <option value="3">secondary education</option>
                  <option value="3">higher education</option>
                </select>
            </div>
            <br>
            <br>

            <div class="mb-3">
                <label for="inputTraveltime" class="form-label">Traveltime:</label>
                <input type="number" class="form-control" id="inputTraveltime" name="user_traveltime" required>
            </div>

            <div class="mb-3">
                <label for="inputFailure" class="form-label">Failure:</label>
                <input type="number" class="form-control" id="inputFailure" name="user_failure" required>
            </div>
            School supply paid for:
            <div class="input-group">
                <select class="form-control" id="inputSchoolsup" name="user_schoolsup" aria-label="Example select with button addon">
                  <option selected>Choose...</option>
                  <option value="1">Yes</option>
                  <option value="2">No</option>
                </select>
            </div>
            <br>
            <br>
            Family supply paid for:
            <div class="input-group">
                <select class="form-control" id="inputFamsup" name="user_famsup" aria-label="Example select with button addon">
                  <option selected>Choose...</option>
                  <option value="1">Yes</option>
                  <option value="2">No</option>
                </select>
            </div>
            <br>
            <br>
            Extra Paid Tuition 
            <div class="input-group">
                <select class="form-control" id="inputPaid" name="user_paid" aria-label="Example select with button addon">
                  <option selected>Choose...</option>
                  <option value="1">Yes</option>
                  <option value="2">No</option>
                </select>
            </div>
            <br>
            <br>
            Activities
            <div class="input-group">
                <select class="form-control" id="inputActivities" name="user_activities" aria-label="Example select with button addon">
                  <option selected>Choose...</option>
                  <option value="1">Yes</option>
                  <option value="2">No</option>
                </select>
            </div>
            <br>
            <br>

            <!-- Input field for user's email -->
            Internet
            <div class="input-group">
                <select class="form-control" id="inputInternet" name="uuser_internet" aria-label="Example select with button addon">
                  <option selected>Choose...</option>
                  <option value="1">Yes</option>
                  <option value="2">No</option>
                </select>
            </div>
            <br>
            <br>
            In a Romantic Relationship
            <div class="input-group">
                <select class="form-control" id="inputRomantic" name="user_romantic" aria-label="Example select with button addon">
                  <option selected>Choose...</option>
                  <option value="1">Yes</option>
                  <option value="2">No</option>
                </select>
            </div>
            <br>
            <br>

            Guardian
            <div class="input-group">
                <select class="form-control" id="inputGuardian" name="user_guardian" aria-label="Example select with button addon">
                  <option selected>Choose...</option>
                  <option value="1">Mother</option>
                  <option value="2">Father</option>
                  <option value="2">Other</option>
                </select>
            </div>
            <br>
            <br>

            <div class="mb-3">
                <label for="inputStudytime" class="form-label">Studytime:</label>
                <input type="number" class="form-control" id="inputStudytime" name="user_studytime" required>
            </div>

            <div class="mb-3">
                <label for="inputFreetime" class="form-label">Freetime:</label>
                <input type="number" class="form-control" id="inputFreetime" name="user_freetime" required>
            </div>

            <div class="mb-3">
                <label for="inputGoout" class="form-label">Time spent Outside with friends:</label>
                <input type="number" class="form-control" id="inputGoout" name="user_goout" required>
            </div>

            <div class="mb-3">
                <label for="inputWalc" class="form-label">Weekday alcohol consumption:</label>
                <input type="number" class="form-control" id="inputWalc" name="user_walc" required>
            </div>

            <div class="mb-3">
                <label for="inputfamsize" class="form-label">Family size:</label>
                <input type="number" class="form-control" id="inputFamsize" name="user_famsize" required>
            </div>
            Reason for attending chosen school:
            <div class="input-group">
                <select class="form-control" id="inputReason" name="user_reason" aria-label="Example select with button addon">
                  <option selected>Choose...</option>
                  <option value="1">Close to home</option>
                  <option value="2">School Reputaion</option>
                  <option value="2">Courses Offered</option>
                  <option value="2">Other</option>
                </select>
            </div>
            <br>
            <br>
            Higher education interest:
            <div class="input-group">
                <select class="form-control" id="inputHigher" name="user_higher" aria-label="Example select with button addon">
                  <option selected>Choose...</option>
                  <option value="1">Yes</option>
                  <option value="2">No</option>
                </select>
            </div>
            <br>
            <br>

            <div class="mb-3">
                <label for="inputAbsences" class="form-label">Absences:</label>
                <input type="number" class="form-control" id="inputAbsences" name="user_absences" required>
            </div>

            <div class="mb-3">
                <label for="inputG1" class="form-label">Grade 1:</label>
                <input type="number" class="form-control" id="inputG1" name="user_g1" required>
            </div>

            <div class="mb-3">
                <label for="inputG2" class="form-label">Grade 2:</label>
                <input type="number" class="form-control" id="inputG2" name="user_g2" required>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary">Predict</button>
        </form>

    </div>
    <br>
    <br>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>